{% extends 'users/base.html' %}

{% block title %}
회원가입
{% endblock title %}

<h1>회원가입</h1>

{% block content %}
<div class="auth">
  <form action="{% url 'users:signup' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fildWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <input type="submit" value="sign up">
  </form>
</div>
<div class="auth_link">
  <a href="{% url 'users:main' %}">로그인</a>
</div>
{% endblock content %}